<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body class="container">
    <header>
        {{>header}}

    </header>
    
    <main>
        <div class="jumbotron">
    <h1>Chat</h1>
    
    <form onsubmit="addMessagechat(this)">
        <input type="text" id="username" placeholder="Name"> <br>
        <input type="text" id="texto" placeholder="Your Message"><br>
        <input type="submit" value="enviar"><br>
    </form>

    <div id="filaTexto"></div>
    </main>

    <footer>
        {{>footer}}
    </footer>
</body>
</html>